@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


#CardItem:hover {
  .img-card {
    scale: 1.2;
    rotate: 4deg;
  }

}

.text-shadow {
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.loader {
  width: 48px;
  height: 40px;
  margin-top: 30px;
  display: inline-block;
  position: relative;
  background: rgb(80, 19, 0);
  border-radius: 15% 15% 35% 35%;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 45px;
  top: 8px;
  border: 4px solid rgb(80, 19, 0);
  width: 16px;
  height: 20px;
  border-radius: 0 4px 4px 0;
}
.loader::before {
  content: '';  
  position: absolute;
  width: 1px;
  height: 10px;
  color: rgb(80, 19, 0);
  top: -15px;
  left: 11px;
  box-sizing: border-box;
  animation: animloader 1.2s ease infinite;
}

@keyframes animloader {
    0% {
  box-shadow: 2px 0px rgb(80, 19, 0), 12px 0px rgb(80, 19, 0), 20px 0px rgb(80, 19, 0);
}
    50% {
  box-shadow: 2px -5px rgba(80, 19, 0, 0.383), 12px -3px rgba(80, 19, 0, 0.451), 20px -2px rgba(80, 19, 0, 0.404);
}
    100% {
  box-shadow: 2px -8px rgba(80, 19, 0, 0), 12px -5px rgba(80, 19, 0, 0), 20px -5px rgba(80, 19, 0, 0);
}
  }
.card-plates {
  -webkit-box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.60);
  -moz-box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.60);
  box-shadow: 0px 1px 4px 1.5px rgba(0, 0, 0, 0.60);
}

.card-plates-admin {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.838);
}



.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



.fade-in {
	-webkit-animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
